<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TomcatTest</display-name>
  <servlet>
      <servlet-name>helloWorld</servlet-name>
      <servlet-class>com.servlet.HelloWorld</servlet-class>
  </servlet>
  
  <servlet-mapping>
      <servlet-name>helloWorld</servlet-name>
      <url-pattern>/hello</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>countReceivedAPplied</servlet-name>
        <servlet-class>com.servlet.client.CountsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>countReceivedAPplied</servlet-name>
        <url-pattern>/counts</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>countIncremental</servlet-name>
        <servlet-class>com.servlet.client.IncrementalCountsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>countIncremental</servlet-name>
        <url-pattern>/countsIncremental</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>serverCounts</servlet-name>
        <servlet-class>com.servlet.server.ServerCountsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>serverCounts</servlet-name>
        <url-pattern>/serverCounts</url-pattern>
    </servlet-mapping>

	<filter>
        <filter-name>cors</filter-name>
        <filter-class>com.servlet.CORSFilter</filter-class>
    </filter>
  
    <filter-mapping>
        <filter-name>cors</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
</web-app>